<section class="panel panel-default">
  <!-- Default panel contents -->
  <header class="panel-heading text-center">
    <strong><%= title %></strong>
  </header>
  <!-- Table -->
  <table class="table table-bordered" style="table-layout: fixed;">
    <thead>
      <tr>
        <th class="text-center">楼号</th>
        <th class="text-center">房号</th>
        <th></th>
        <th class="text-center">楼号</th>
        <th class="text-center">房号</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% var room, roomNo; %>
      <% for(var i = 0; i < list.length / 2; i++) { %>
      <tr>
        <% room = list[i]; %>
        <% roomNo = room.fNo + '0' + room.rNo; %>
        <td class="text-center"><%= room.bNo %></td>
        <td class="room room<%= room.bedroom %>"><%= roomNo %></td>
        <td class="result  <%= room.selected ? 'selected' : '' %>"
            data-title="<%= room.title %>"
            data-id="<%= room.id %>"
            data-bedroom="<%= room.bedroom %>">
          <span class="badge"><%= room.score %></span>
        </td>
        <% room = list[i + list.length / 2]; %>
        <% roomNo = room.fNo + '0' + room.rNo; %>
        <td class="text-center"><%= room.bNo %></td>
        <td class="room room<%= room.bedroom %>"><%= roomNo %></td>
        <td class="result <%= room.selected ? 'selected' : '' %>"
            data-title="<%= room.title %>"
            data-id="<%= room.id %>"
            data-bedroom="<%= room.bedroom %>">
          <span class="badge"><%= room.score %></span>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</section>
